{% extends "_base.html" %}

{% load thumbnail %}
{% load widget_tweaks %}

{% block body %}

<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="py-3 clearfix">
      <h1 class="site-title mb-0">{{ user.first_name }} {{ user.last_name }}</h1>
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            {% for social in socials %}
              <li class="nav-item"><a class="nav-link" href="{{ social.url }}" title="{{ social.app }}"><i class="fab fa-{{ social.app }}"></i><span class="menu-title sr-only">Twitter</span></a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="page-content">
  <div class="container">
    <div class="cover shadow-lg bg-white"><!--this is cover start -->
      <div class="cover-bg p-3 p-lg-4 text-white">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="avatar hover-effect bg-white shadow-sm p-1">
              {% thumbnail user.image "200x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            </div>
          </div>
          <div class="col-lg-8 col-md-7 text-center text-md-start">
            <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">{{ user.first_name }} {{user.last_name}}</h2>
            <p data-aos="fade-left" data-aos-delay="100">{{ user.position_name }}</p>
            <div class="d-print-none" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="right-resume.pdf" target="_blank">Download CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a></div>
          </div>
        </div>
      </div>
      <div class="about-section pt-4 px-3 px-lg-4 mt-1">
        <div class="row">
          <div class="col-md-6">
            <h2 class="h3 mb-3">About Me</h2>
            {{ user.about | safe }}
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="row mt-2">
              <div class="col-sm-4">
                <div class="pb-1">Age</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">{{ user.age }}</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Email</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">{{ user.email }}</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Phone</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">{{ user.phone_number.as_national}}</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Address</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">{{ user.address | safe}}</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none"/>
<div class="skills-section px-3 px-lg-4">
<h2 class="h3 mb-3">Professional Skills</h2>
<div class="row">
  <div class="col-12">
    <div class="d-flex flex-wrap">
      {% for profecional_skill in profecional_skills %}
        <div class="w-50 mb-2">
          <span class="mx-2">{{ profecional_skill.technologies.name }} </span>
          <div class="progress my-2 mx-2" style="height:17px">
            <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right" data-aos-delay="100" data-aos-anchor=".skills-section" style="width: {% widthratio profecional_skill.experiance_lvl 1 19 %}%; text-align: left; padding-left:20px; height:17px" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100">({{ profecional_skill.experiance_lvl }} years)</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>
<hr class="d-print-none"/>
<div class="work-experience-section px-3 px-lg-4">
    <h2 class="h3 mb-4">Work Experience</h2>
        <div class="timeline">
          {% for work_experiance in work_experiances %}
            <div class="timeline-card timeline-card-primary card shadow-sm">
              <div class="card-body">
                <div class="h5 mb-1">{{ work_experiance.position }}<span class="text-muted h6"> at {{ work_experiance.at }} <a href="{{ work_experiance.at_url }}">&#x2197; </a></span></div>
                <div class="text-muted text-small mb-2">
                  {{ work_experiance.start_date }} - {% if work_experiance.until_present %} Present {% else %} {{ work_experiance.end_date }} {% endif %}
                </div>
                <div class="ui gray labels">
                  {% for technology in work_experiance.technologies.all %}
                  <p class="ui label"> {{ technology }}</p>
                  {% endfor %}
                </div>
                <br>
                <div>
                  {{ work_experiance.about | safe }}
                </div>
              </div>
            </div>
          {% endfor %}
    </div>
</div>
<hr class="d-print-none"/>
<div class="page-break"></div>
<div class="education-section px-3 px-lg-4 pb-4">
  <h2 class="h3 mb-4">Education</h2>
  <div class="timeline">
    {% for education in educations %}
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">{{ education.learned_skill }}<span class="text-muted h6"> from {{ education.from_where }} <a href="{{ education.from_where_url }}"> &#x2197;</a></span></div>
          <div class="text-muted text-small mb-2"> {{education.start_date}} - {% if education.until_present %} Present {% else %} {{ education.end_date }} {% endif %}</div>
          <div>
            {{ education.about | safe}}
          </div>
          <br/>
          <button class="btn btn-primary toggle-button education_button">Show certificate</button>
          {% thumbnail education.certificate "1300x600" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="hidden-image" alt="Image" style="display: none;">
          {% endthumbnail %}
          <div id="fullscreen-image">
            <span id="close-button" onclick="closeFullscreen()">&times; Close</span>
            <img id="fullscreen-image-content" src="" alt="Full Screen Image">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<hr class="d-print-none">
<div class="work-experience-section px-3 px-lg-4">
  <h2 class="h3 mb-4">Peojects</h2>
  <div class="timeline">
    {% for project in projects %}
      <div class="timeline-card timeline-card card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">
            {% if project.open_surce is False %} <img src="{{ project.company_logo.url }}" width="27" height="27"> {% endif %}
            {% if project.open_surce %} <i class="fab fa-{{ project.for_where }}"></i> {% endif %}
            {{ project.project_name }} <span class="text-muted h6">
            {% if project.open_surce is False %} for {{ project.for_where }} {% endif %} <a href="{{ project.for_whare_url }}"> &#x2197; </a> </span></div> 
            <div class="ui gray labels"> 
              {% for technology in project.technologies.all %}
              <p class="ui label"> {{ technology }}</p>
              {% endfor %}
            </div>
            <br> 
            <div>{{ project.about | safe}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<hr class="d-print-none"/>
<div class="page-break"></div>
<div class="books-section px-3 px-lg-4 pb-4">
  <h2 class="h3 mb-4">Books that I have read</h2>
  <div class="timeline">
    {% for book in books %}
      <div class="timeline-card timeline-card-success card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">{{ book.title }}<span class="text-muted h6"> from {{ book.author }}</span>
              <a href="{{ book.book_file.url }}" target="_blank"><i class="far fa-arrow-alt-circle-down"></i></a></div>
          <div class="text-muted text-small mb-2"> {{book.start_date}} - {% if book.end_date %} {{ book.end_date }} {% else %} Present {% endif %}</div>
          <div>
                {% thumbnail book.cover_page_image "170x270" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" style='float:left; margin-right:10px;'>
                {% endthumbnail %}
              <div><p>{{ book.about | safe }}</p></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</div>
<!-- end of container -->     
<hr class="d-print-none"/>
<div class="contant-section px-3 px-lg-4 pb-4" id="contact">
<h2 class="h3 text mb-3">Contact</h2> 
<div class="row">
  <div class="col-md-7 d-print-none">
    <div class="my-2">
      <p class="text-secondary">Phone: {{ user.phone_number.as_national }}</p>
      <p class="text-secondary">Email: {{ user.email }}</p>
      <hr class="my-2">
      <form action="{% url 'CV-view' %}" method="POST" id="ContactUsForm">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            {% render_field form.name class="form-control" type="text" id="name" name="name" placeholder="Your Name" required="" %}
            {% comment %} <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required> {% endcomment %}
          </div>
          <div class="col-6">
            {% render_field form.email class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail"%}
          </div>
        </div>
        <div class="form-group my-2">
          {% render_field form.message class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" %}
        </div>
        <button class="btn btn-primary mt-2" type="submit"> submit </button>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div class="mt-2">
      <div class="pb-2 text-secondary">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1679.5345916128163!2d51.72425379887471!3d32.65760306220546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fbc49786ce199f3%3A0xbd4d5828b4717fd8!2sJay%20Student%20Dormitory!5e0!3m2!1sen!2s!4v1698225357716!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="col d-none d-print-block">
    <div class="mt-2">
      <div>
        <div class="mb-2">
          <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
          </div>
        </div>
        <div class="mb-2">
          <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
          </div>
        </div>
        <div class="mb-2">
          <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
          </div>
        </div>
        <div class="mb-2">
          <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div></div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
  <div class="container">
    <div class="my-3">
      <div class="h4">{{ user.first_name }} {{ user.last_name }}</div>
      <div class="footer-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <nav role="navigation">
              <ul class="nav justify-content-center">
                {% for social in socials %}
                  <li class="nav-item"><a class="nav-link" href="{{ social.url }}" title="{{ social.app }}"><i class="fab fa-{{ social.app }}"></i><span class="menu-title sr-only">Twitter</span></a></li>
                {% endfor %}
              </ul>
            </nav>
          </ul>
      </div>
    </div>
    <div class="text-small">
      <div class="mb-1">&copy; Right Resume. All rights reserved for {{user.first_name}} {{ user.last_name }}</div>
    </div>
  </div>
</footer>

{% endblock body %}


